.Portfolio {
	padding-top: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.PortfolioContents {
	width: 80vw;
	margin-bottom: 5vh;
}
.PortfolioContents * {
	margin-top: 1%;
}
.shifted {
	margin-left: 20px;
}